apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: {{ url }}
    secureJsonData:
      token: "{{ token }}"
    jsonData:
      version: Flux
      organization: {{ organization }}
      defaultBucket: {{ bucket_name }}
      tlsSkipVerify: true
