apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: {{ grafna_influxdb_url }}
    secureJsonData:
      token: "{{ grafana_influxdb_token }}"
    jsonData:
      version: Flux
      organization: {{ grafana_influxdb_organization }}
      defaultBucket: {{ grafana_influxdb_bucket_name }}
      tlsSkipVerify: true
